
.item-list{
    width: auto;
    align-items: center;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    font-family: 'Kanit', sans-serif;
    
}
.item-list li{
    width: auto;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.12);
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.item-list span{
    margin: 10px 10px;
    border-bottom: 2px solid #333;
}

.expense{
    border-right: red 5px solid;
}
.income{
    border-right: rgb(86, 228, 43) 5px solid;
}